@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wellcome to my App</h1>
    <p class="lead">App manage pro System</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
