﻿﻿@model ApplicationDevelopment.Models.Course
@{ ViewBag.Title = "Details"; }

<h2>Edit</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm("Details", "Courses", FormMethod.Post))
{
    @Html.HiddenFor(u => u.Id)
    <div class="form-horizontal">
        <div class="panel-heading">CourseName:@Model.Name</div>
        <div class="panel-body">
            
            <p>Category:@Model.Category.Name</p>
            <p>Due Date:@Model.DueDate.ToString("dd/MMM.yyyy")</p>

        </div>
    </div>}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
